[Desktop Entry]
Type=Application
Name=QSLMaster
Comment=Download QSO data from Wavelog and prepare QSL labels
Exec=qslmaster
TryExec=qslmaster
Icon=qslmaster
Terminal=false
Categories=Utility;
StartupWMClass=qslmaster
Keywords=QSL;Ham;Radio;Wavelog;
